body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

#container {
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.square {
  width: 60px;
  height: 60px;
}